---
import FormattedDate from './FormattedDate.astro';

const { slug, image, title, date } = Astro.props;
---

<a class="card" href={`/blog/${slug}`}>
    <img width={720} height={360} src={image} alt={title} />
    <div class="text-wrapper">
        <h4 class="title">{title}</h4>
        <p class="date">
            <FormattedDate date={new Date(date)} />
        </p>
    </div>
</a>

<style>
    .card {
        position: relative;
        display: flex;
        text-decoration: none;
        flex-direction: column;
        gap: 1rem;
        color: var(--font-color);
        isolation: isolate;
    }

    .card:hover {
        background: none;
    }

    .card:hover .title {
        text-decoration: underline;
    }

    .text-wrapper {
        position: relative;
    }

    .title {
        position: relative;
        margin: 0;
        isolation: isolate;
    }

    .date {
        margin: 0;
    }

</style>